/* custom.css */

/* Estilos gerais */
body {
  font-family: 'Poppins', sans-serif;
  color: rgb(16, 16, 16);
  background-color: #1c283d;
}

footer {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #233242;
  margin-top: 10px;
}

.navbar {
  background-color: #1f364f;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: white !important;
}

.navbar-nav .nav-item .btn {
  margin-left: 10px;
}

.alert {
  margin-top: 20px;
}

.container {
  margin-top: 50px;
}

.btn-primary, .btn-danger {
  transition: all 0.3s ease;
}

.btn-primary:hover, .btn-danger:hover {
  transform: scale(1.1);
}

footer p {
  font-size: 10px;
}
